body{
    background-color: rgb(132, 3, 3);
}
nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  color: rgb(228, 188, 93);
}

nav li {
  text-align: center;
  flex: 1;
}

nav a {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(244, 195, 20);
}

nav a:hover,
nav a:focus {
  color: rgb(0, 0, 0);
  font-size: 38px;
  background-color: rgb(220, 119, 119);
  border-radius: 5px;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

article{
    flex:4;
}

aside{
    flex: 1;
}

main {
    display: flex;
    gap: 10px;
}

h1 {
    text-align: center;
}